<main class="form-signup">
    <h1 class="h3 mb-3 fw-normal">Thank you for choosing WireGuard Remote Management!</h1>
    <p class="mt-5 mb-3">Create your first user. Please note that this user will be granted all administration rights.</p>
    <%- include ('./partials/messages') %>
    <form action="/setup/create-first-user" method="POST">
        <div class="form-group">
            <div class="mb-1 form-floating">
                <input type="email" class="form-control" id="email" name="email" placeholder="john.doe@wgrm.net" value="<%= typeof email != 'undefined' ? email : '' %>" required>
                <label for="email">Email address</label>
            </div>

            <div class="mb-1 form-floating">
                <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" value="<%= typeof name != 'undefined' ? name : '' %>" required>
                <label for="name">Name</label>
            </div>

            <div class="mb-1 form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="" required>
                <label for="password">Password</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="password" class="form-control" id="verifyPassword" name="verifyPassword" placeholder="Verify password" value="" required>
                <label for="verifyPassword">Verify password</label>
            </div>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Create user</button>
    </form>
</main>