<main class="page-database-error">
    <form>
        <h1 class="h3 mb-3 fw-normal">Database Error</h1>

        <p class="mt-5 mb-3">WireGuard Remote Management can't connect to the database using the settings provided in the config.js file. Contact your system administrator for more information.</p>
    </form>
</main>