<main class="page-common">
    <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
    <p class="mt-5 mb-3">Password reset is unavailable. Contact your system administrator to change your password.</p>
    <a class="btn btn-link" href="log-in" role="button">Go back to login page</a>
</main>